
.status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
}

.item {
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.avatar {
  width: 90px;
  height: 100%;
  margin-left: 10px;
}

.name {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  margin-left: 40px;
}