
body {
  background-color: tomato;
  max-width: 1400px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.isOnline {
  background-color: rgb(76, 76, 215);
}